@model CrudAssignment.Web.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<style>
    #Facebook {
        background: url(/Content/images/facebook-login.png);
        background-size: 100%, 100%;
        width: 73px;
        height: 29px;
    }
</style>

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() > 0) {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"></button>
                    }
                </p>
            </div>
        }
    }
}
