//.css from: http://blog.robertmatuszewski.pl/popup-w-jquery/

#wrapper{
color:#FFFFFF;
font-family:tahoma;
font-size:14px;
margin:200px 0 0 400px;
}
 
#wrapper a{
cursor:pointer;
font-size:17px;
font-weight:bold;
text-decoration:underline;
}
 
.box {
background-color: #ffffff;
color: #888888;
height: auto;
max-height: 60%;
left: 30%;
padding: 20px;
position: fixed;
right: 30%;
top: 25%;
width: auto;
max-width: 60%;
z-index: 101;
border:5px solid #86BC45;
border-radius:10px;
display: none;
overflow-y: auto;
-moz-border-radius:10px;
}
 
.overlay {
background: #000000;
bottom: 0;
left: 0;
position: fixed;
right: 0;
top: 0;
z-index: 100;
opacity:0.5;
display:none;
}

.centered {
width: 200px;
display: block;
margin-left: auto;
margin-right: auto;
}